<!DOCTYPE html>

<link rel="stylesheet" type="text/css" href="/Users/jmedina/Downloads/DataTables/datatables.min.css"/>

<script type="text/javascript" src="/Users/jmedina/Downloads/DataTables/datatables.min.js"></script>

<html>

    <head>
        <title> Add Rows To HTML Table From Array </title>
        <meta charset="windows-1252">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>

        <table id="table" class="sortable" border="1">

            <!-- The Row Number 0 -->
            <tr>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Age</th>
            </tr>
            <!-- End Row Number 0 -->

            <tr>
                <td></td>
                <td></td>
                <td></td>
            </tr>

            <tr>
                <td></td>
                <td></td>
                <td></td>
            </tr>

            <tr>
                <td></td>
                <td></td>
                <td></td>
            </tr>

            <tr>
                <td></td>
                <td></td>
                <td></td>
            </tr>

            <tr>
                <td></td>
                <td></td>
                <td></td>
            </tr>

        </table>

        <script>

                    var array = [["A1","B2","C1"],
                                 ["A2","B1","C2"],
                                 ["A3","B3","C3"],
                                 ["A4","B4","C4"],
                                 ["A5","B5","C5"],
                                 ["A1","B1","C1"],
                                 ["A2","B2","C2"],
                                 ["A3","B3","C3"],
                                 ["A4","B4","C4"],
                                 ["A5","B5","C5"]],
                        table = document.getElementById("table");


                // rows
                for(var i = 1; i < table.rows.length; i++)
                {
                  // cells
                  for(var j = 0; j < table.rows[i].cells.length; j++)
                  {
                      table.rows[i].cells[j].innerHTML = array[i - 1][j];
                  }
                }
        </script>

    </body>
</html>
